<template lang="pug">
.container
  .brands-section
    .row
      .col-6
        .pa-lg(v-for="item in 3")
          .title Título
          .subtitle Marcação de texto para ser preencido depois da página ficar pronta, enquanto isso segue com o texto marcando a página.
      .col-6
        .hidden-sm.full-width
          .row
            .col-3.flex-center.pa-md(v-for="(logo, index) in 16" :key="index")
              .logo-placeholder(:class="logoBgColor(index)")
        .visible-md.full-width
          .row
            .col-sm-4.flex-center.pa-md(v-for="(logo, index) in 9" :key="index")
              .logo-placeholder(:class="logoBgColorMobile(index)")
</template>
<script>
export default {
  name: 'BrandsSection',
  data () {
    return {
    }
  },
  methods: {
    logoBgColor (index) {
      if (index === 0) {
        return 'logo-blue'
      }
      if (index === 5) {
        return 'logo-red'
      }
      if (index === 10) {
        return 'logo-purple'
      }
      if (index === 15) {
        return 'logo-yellow'
      }
    },
    logoBgColorMobile (index) {
      if (index === 0) {
        return 'logo-blue'
      }
      if (index === 4) {
        return 'logo-red'
      }
      if (index === 8) {
        return 'logo-purple'
      }
    }
  }
}
</script>
<style lang="css" scoped>
.logo-placeholder{
  background-image: url('../../assets/images/logo-placeholder.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  height: 130px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}
.brands-section .title{
  font-size: 28px;
  font-weight: 900;
}
.brands-section .subtitle{
  max-width: 500px;
  margin-top: 18px;
  line-height: 1.3;
  font-size: 22px;
}
.logo-blue{
  background-color: #1da1f2;
}
.logo-red{
  background-color: #ff4600;
}
.logo-purple{
  background-color: #9746d5;
}
.logo-yellow{
  background-color: #fedb00;
}
@media only screen and (max-width: 600px) {
  .logo-placeholder{
    height: 80px;
  }
}
</style>
