<template lang="pug">
.differentials
  .container
    .row.text-center
      .col-4.pa-md
        .card-icon
          img(src="@/assets/images/graph.png" width="42px")
          h1 Title
          p Texto corrido com informações que vão ser preenchidas depois que a página estiver pronta
      .col-4.pa-md
        .card-icon
          img(src="@/assets/images/alarm-clock.png" width="42px")
          h1 Title
          p Texto corrido com informações que vão ser preenchidas depois que a página estiver pronta
      .col-4.pa-md
        .card-icon
          img(src="@/assets/images/notifications.png" width="42px")
          h1 Title
          p Texto corrido com informações que vão ser preenchidas depois que a página estiver pronta
</template>
<style lang="css" scoped>
.card-icon{
  padding: 4em;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}
.card-icon h1{
  font-size: 26px;
  line-height: 2;
  color: #333;
}
.card-icon p{
  line-height: 1.3;
  color: #333;
  letter-spacing: 1px;
}
.differentials{
  background-color: #f7ffdc;
}
</style>
