<template lang="pug">
.container
  .hero-section
    .row.pa-lg.flex-center
      .col-6
        h1.title Título da Página
        h3.subtitle Informação curta e direta sobre o app divulgado na página com foco nas funcionalidades
        .flex-item.store-links
          .flex-item-main
            a(href="#")
              img(src="@/assets/images/google-play.png")
          .flex-item-main
            a(href="#")
              img.cursor-pointer(src="@/assets/images/app-store.png")
      .col-6
        .double-smartphone
</template>
<script>
export default {
  name: 'HeroSection'
}
</script>
<style lang="css" scoped>
.double-smartphone{
  height: 600px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/double-smartphone.png')
}
.hero-section .title{
  font-weight: 900;
}
.hero-section .subtitle{
  margin: 1em 0;
  line-height: 1.5
}
@media only screen and (max-width: 600px){
  .flex-center{
    display: block;
    justify-content: center;
  }
  .hero-section .title{
    font-size: 22px;
  }
  .hero-section .subtitle{
    margin: .5em 0;
    line-height: 1.3;
    font-size: 18px;
  }
  .hero-section > .row {
    padding: 0;
  }
  .store-links > div {
    margin: 0 .5em;
  }
  .store-links img{
    width: 100%;
  }
  .double-smartphone{
    margin-top: 20px;
    height: 360px;
  }
}
</style>
