<template lang="pug">
.container.products-container
  .products-section
    .row.full-width.flex-item
      .flex-item-main
        h2 Produtos mais acessados
      .flex-item-side
        btn.see-more-btn(to="/products" color="light-green" flat label="Ver todos")
    .row.full-width.relative-position.products-list(v-if="!isLoading")
      .col-3.px-sm(
          v-for="(product, pr) in products"
          :key="pr")
        product-card(
          :product="product")
    spinner(v-if="isLoading")
</template>
<script>
import { mapGetters } from 'vuex'
import ProductCard from '../ProductCard'
import { NAMESPACE, ISLOADING, PRODUCTS, GET_PRODUCTS } from '../../store/modules/products'
export default {
  name: 'ProductsSection',
  components: {
    ProductCard
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(NAMESPACE, { products: PRODUCTS, isLoading: ISLOADING })
  },
  created () {
    this.$store.dispatch(`${NAMESPACE}/${GET_PRODUCTS}`, {
      limit: 4,
      sortBy: 'percentage'
    })
  },
  methods: {
  }
}
</script>
<style>
@media only screen and (max-width: 600px) {
  .products-list{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: 500px;
  }
  .products-list{
    display: inline-block;
    flex-wrap: none;
  }
  .products-container{
    padding: 0;
    margin-top: 2em;
  }
  .products-list::-webkit-scrollbar {
    display: none;
  }
  .products-list .col-3{
    display: inline-block;
    flex: none;
    width: 100%;
    max-width: 320px;
    margin: 0;
  }
  .products-section > .row {
    padding: 0 1em;
    text-align: center;
  }
  .products-section > .row .flex-item-side{
    flex: 1 1 auto;
    min-width: 0;
  }
}
</style>
