<template lang="pug">
  .container
    .video-section
      .text-center.pa-md
        h1.title Vídeo promocional do app
        .flex-center
          p.subtitle O vídeo mostra todas as funcionalidades e você vai conferir como funciona e ver como é fácil e simples de usar o app, falando do uso e seus benefícios
      .pa-md.flex-center
        iframe.video-showcase(
          src="https://www.youtube.com/embed/6ZpETbJjipQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen)
</template>
<style lang="css" scoped>
.video-section .title{
  font-weight: 900
}
.video-section .subtitle{
  line-height: 1.5;
  margin-top: 12px;
  max-width: 1000px;
}
.video-showcase{
  width: 100%;
  max-width: 1000px;
  height: 600px;
}
@media only screen and (max-width: 600px){
  .video-showcase{
    height: 300px;
  }
}
</style>
