<template lang="pug">
  .footer
    .footer-cta
      .container
        .row
          .col-6.hidden-sm
            .flex-item.py-md
              .flex-item-side
                .chrome-logo
              .flex-item-main.px-md
                .title Instale a extensão no seu Google Chrome.
                .subtitle Teste de suporte do título
          .col-3
            .flex-item.py-md
              .flex-item-main.px-md
                .title Baixe nosso app e não fique de fora do que acontece no produto
          .col-3
            .flex-item.py-md.text-center
              .flex-item-main
                a(href="#")
                  img(src="@/assets/images/google-play.png" height="38px")
              .flex-item-main
                a(href="#")
                  img.cursor-pointer(src="@/assets/images/app-store.png" height="38px")
    .footer-menu
      .container
        .row
          .col-3(v-for="(menuCol, m) in footerMenu" :key="m")
            .title {{menuCol.title}}
            btn(
              flat
              v-for="(item, i) in menuCol.menu"
              :to="item.link || null" :label="item.label || null"
              :icon="item.icon"
              :round="item.icon && !item.label"
              :class="item.icon && !item.label ? 'social-btn' : ''")
      .container.store-list
        .row
          span Lojas: {{storesFooter.join(', ')}}.
          b Se a sua marca não está listada, entre em contato com a nossa equipe.

</template>
<script>
export default {
  name: 'FooterLayout',
  data () {
    return {
      storesFooter: [
        'Adidas',
        'Americanas',
        'Apple',
        'Azul',
        'Baby',
        'Bebê Store',
        'beleza na Web',
        'Camisaria Colombo',
        'Carrefour',
        'Casas Bahia',
        'Centauro',
        'Cipela',
        'Cissa Magazine',
        'Dafiti',
        'Decathlon',
        'Dell',
        'efácil',
        'Época Cosméticos',
        'Extra',
        'Fast Shop',
        'Fnac',
        'Girafa',
        'Insinuante',
        'Kabum',
        'Kanui',
        'Lenovo',
        'Livraria Saraiva',
        'Magazine Luiza',
        'Marisa',
        'MegaMamute',
        'Mobly',
        'Netshoes',
        'Nike',
        'Ponto Frio',
        'Posthaus',
        'Ricardo Eletro',
        'Sépha Perfumaria',
        'Sephora',
        'Shopfato',
        'Shoptime',
        'Sony',
        'Sou Barato',
        'Submarino',
        'Submarino Viagens',
        'Super Muffato'
      ],
      footerMenu: [
        {
          title: 'Sobre',
          menu: [
            { label: 'Quem Somos' },
            { label: 'Imprensa' },
            { label: 'Trabalhe conosco' },
            { label: 'Política de Privacidade' }
          ]
        },
        {
          title: 'Destaques',
          menu: [
            { label: 'Black Friday' },
            { label: 'Black Night' },
            { label: 'Dia dos Pais' },
            { label: 'Dia dos Namorados' }
          ]
        },
        {
          title: 'Contato',
          menu: [
            { label: 'Fale Conosco' },
            { label: 'Midia Kit / Parceria' },
            { label: 'Dia dos Pais' },
            { label: 'Dúvidas frequentes' }
          ]
        },
        {
          title: 'Redes Sociais',
          menu: [
            { icon: 'facebook' },
            { icon: 'twitter' },
            { icon: 'instagram' },
            { icon: 'youtube' }
          ]
        }
      ]
    }
  }
}
</script>
<style lang="css">
.footer-cta .container{
  padding: .1em;
}
.footer-cta .title{
  color: #000;
  font-size: 18px;
  font-weight: 900;
}
.footer-cta .subtitle{
  color: #000;
  font-size: 16px;
  padding: 0;
}
.footer-cta .chrome-logo{
  height: 26px;
  width: 26px;
  background-image: url('../../assets/images/chrome.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-menu .title{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.footer-menu .btn{
  text-align: left;
  padding: 6px 12px !important;
  margin: 12px 0 !important;
  display: block !important;
  width: fit-content;
}
.footer-menu .btn.social-btn{
  display: inline-block !important;
  width: 52px !important;
  height: 52px !important;
  margin: 1em .2em !important;
  padding: 0 !important;
}
.footer-menu .icon{
  width: 52px !important;
  height: 52px !important;
  background-size: 50% !important;
}
.footer-menu .store-item{
  margin-right: 4px;
  display: inline;
}
.footer-menu .store-list{
  text-align: left;
  line-height: 1.4;
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  .footer-menu .store-list{
    padding: .5em;
  }
}
</style>
