<template lang="pug">
  .product-card(@click="$router.push('/products/' + product._id)")
    .product-card-media(:style="{backgroundImage: 'url(' + product.image + ')'}")
      .product-percent-label(:class="getLabelColor(product.percentage)")
        .icon(:class="iconPercent")
        span $ {{priceDiff}}
    .product-card-section.title {{product.title}}
    .product-card-section.store-label(v-if="product.store && product.store.name") Vendido por
        a(@click.stop="$router.push('/stores/' + product.store._id)") {{product.store.name}}
    .product-card-section.price R$ {{product.price}}
</template>
<script>
export default {
  name: 'ProductCard',
  props: {
    product: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
    }
  },
  computed: {
    iconPercent () {
      return this.product.percentage < 0 ? 'icon-arrow-down' : 'icon-arrow-up'
    },
    priceDiff () {
      return ((this.product.price * this.product.percentage) / 100)
    }
  },
  methods: {
    getLabelColor (percentage) {
      let color = 'green'
      if (percentage <= -10) {
        color = 'green'
      }
      if (percentage <= 0) {
        color = 'green-light'
      }
      if (percentage > 0) {
        color = 'orange-light'
      }
      if (percentage > 5) {
        color = 'orange'
      }
      if (percentage > 10) {
        color = 'orange'
      }
      return color
    }
  }
}
</script>
<style lang="css" scoped>
.product-card{
  width: 100%;
  border-radius: 6px;
  border: 2px solid #cbcbcb;
  margin: 1em 0;
  cursor: pointer;
  max-width: 100%;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition: box-shadow 400ms ease;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-card:hover{
  box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
}
.product-card .product-card-section{
  padding: 1em 1.5em;
}
.product-card-media{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  min-height: 260px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.product-percent-label{
  position: absolute;
  left: -2px;
  top: 16px;
  border-radius: 0 6px 6px 0;
  padding: 12px 18px;
  min-width: 60px;
  text-align: left;
  color: #fff;
  font-weight: 700;
  transition: all 200ms ease;
}
.product-card:hover .product-percent-label{
  padding-right: 28px;
}
.green{
  background-color: #1B5E20;
}
.green-light{
  background-color: #00C853;
}
.orange{
  background-color: #FF9800;
}
.orange-light{
  background-color: #FFC107;
}
.red{
  background-color: #DD2C00;
}
a{
  margin: 0 6px;
  display: inline;
  text-decoration: none;
  color: #3aacd1;
  font-weight: 700;
}
.price{
  color: #5555d9;
  font-size: 26px;
  font-weight: 700;
}
.store-label{
  display: inline;
  color: #999;
  font-weight: 300;
  font-size: 14px;
  padding: 0 1em !important;
}
.product-card-section.title{
  font-size: 18px;
  width: 100%;
  font-weight: 700;
  color: #575757;
}
.icon{
  width: 12px;
  height: 12px;
  margin-right: 12px;
}
.icon-arrow-down{
  background-image: url(../assets/images/arrow-down.png);
}
.icon-arrow-up{
  background-image: url(../assets/images/arrow-down.png);
  transform: rotate(180deg);
}
</style>
