<template lang="pug">
  .store-card(@click="$router.push('/stores/' + store._id)")
    .store-card-media(:style="{backgroundImage: 'url(' + store.logo + ')'}")
    .store-card-section.title {{store.name}}
</template>
<script>
export default {
  name: 'StoreCard',
  props: {
    store: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getLabelColor (percentage) {
      let color = 'green'
      if (percentage <= -10) {
        color = 'green'
      }
      if (percentage <= 0) {
        color = 'green-light'
      }
      if (percentage > 0) {
        color = 'orange-light'
      }
      if (percentage > 5) {
        color = 'orange'
      }
      if (percentage > 10) {
        color = 'orange'
      }
      return color
    }
  }
}
</script>
<style lang="css" scoped>
.store-card{
  width: 100%;
  border-radius: 6px;
  border: 2px solid #cbcbcb;
  margin: 1em 0;
  cursor: pointer;
  max-width: 100%;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition: all 400ms ease;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.store-card:hover{
  box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
}
.store-card .store-card-section{
  padding: 1em 1.5em;
}
.store-card-media{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
  min-height: 260px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: all 400ms ease;
}
.store-percent-label{
  position: absolute;
  left: -2px;
  top: 16px;
  border-radius: 0 6px 6px 0;
  padding: 12px 18px;
  min-width: 60px;
  text-align: left;
  color: #fff;
  font-weight: 700;
}
a{
  margin: 0 6px;
  display: inline;
  text-decoration: none;
  color: #3aacd1;
  font-weight: 700;
}
.price{
  color: #5555d9;
  font-size: 26px;
  font-weight: 700;
}
.store-label{
  display: inline;
  color: #999;
  font-weight: 300;
  font-size: 14px;
  padding: 0 1em !important;
}
.store-card-section.title{
  font-size: 18px;
  width: 100%;
  font-weight: 700;
  color: #575757;
}
</style>
