<template lang="pug">
  .btn(:class="classes" @click="to ? $router.push(to) : $emit('click')")
    .icon(v-if="icon" :class="'icon-' + icon")
    span(v-if="label" :class="icon ? 'label-icon' : ''") {{label}}
</template>
<script>
export default {
  name: 'Button',
  props: {
    flat: {
      type: Boolean,
      default: false
    },
    round: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: null
    },
    color: {
      type: String,
      default: null
    },
    icon: {
      type: String,
      default: null
    },
    to: {
      type: String,
      default: null
    }
  },
  computed: {
    classes () {
      const classes = []
      if (this.flat) { classes.push('btn-flat') }
      if (this.round) { classes.push('btn-round') }
      if (this.color) { classes.push('btn-' + this.color) }
      return classes.join(' ')
    }
  }
}
</script>
<style lang="css" scoped>
/* Buttons */
.btn{
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;
  margin: 0 .5em;
  transition: all 300ms ease;
  text-align: center;
}
.btn-flat:hover{
  background-color: rgba(0,0,0,0.1);
}
.btn-round{
  padding: 10px 0;
  width: 42px;
  height: 42px;
  border-radius: 100%;
}
.btn .icon{
  margin-bottom: -4px;
}
.label-icon{
  margin-left: .6em;
}
.btn-green {
  border: 1px solid #3b8070;
  color: #3b8070;
}
.btn-green:hover {
  color: #fff;
  background-color: #3b8070;
}
.btn-light-green {
  border: 1px solid #13bc4a;
  color: #13bc4a;
}
.btn-light-green:hover {
  color: #fff;
  background-color: #13bc4a;
}
.btn-grey {
  border: 1px solid #35495e;
  color: #35495e;
}
.btn-grey:hover {
  color: #fff;
  background-color: #35495e;
}
.btn-flat{
  border-width: 0;
}
</style>
