<template lang="pug">
  .spinner-loading
    div
</template>
<script>
export default {
  name: 'Spinner'
}
</script>
<style lang="css" scoped>
.spinner-loading div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 83, 145, 0.32);
    border-radius: 50%;
    border-top-color: #005391;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
.spinner-loading{
    width: 100%;
    height: 400px;
    padding-top: 13%;
    text-align: center;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
</style>
