/* Margin helpers */
.ma-md{
  margin: 1em;
}
.ml-md{
  margin-left: 1em;
}
.my-md{
  margin-top: 1em;
  margin-bottom: 1em;
}
/* padding helpers */
/* Padding all sides */
.pa-lg{
  padding: 2em;
}
.pa-md{
  padding: 1em;
}
.pa-sm{
  padding: .5em;
}
/* Padding X */
.px-lg{
  padding-left: 2em;
  padding-right: 2em;
}
.px-md{
  padding-left: 1em;
  padding-right: 1em;
}
.px-sm{
  padding-left: .5em;
  padding-right: .5em;
}
.px-xs{
  padding-left: .1em;
  padding-right: .1em;
}
/* Padding Y */
.py-lg{
  padding-top: 2em;
  padding-bottom: 2em;
}
.py-md{
  padding-top: 1em;
  padding-bottom: 1em;
}
.py-sm{
  padding-top: .5em;
  padding-bottom: .5em;
}
.py-xs{
  padding-top: .1em;
  padding-bottom: .1em;
}
/* Container helpers */
.scroll-area{
  width: 100%;
  height: calc(100vh - 84px);
  overflow-y: auto;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  padding: 2em;
  max-width: 1400px;
}
.relative-position{
  position: relative;
}
.full-width{
  width: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}
.col-sm-4{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-3{
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-6{
  flex: 0 0 50%;
  max-width: 50%;
}
.col-8{
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
}
.round-borders{
  border-radius: 10px;
}
.visible-md{
  display: none;
}
@media only screen and (max-width: 600px){
  .col-3, .col-4, .col-6, .col-8{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .container{
    width: 100%;
    margin: 0;
  }
  .hidden-sm{
    display: none;
  }
  .visible-md{
    display: inline-block;
  }
  .scroll-area{
    margin-top: 70px;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
}
.flex-center > *{
  flex: 1;
  align-self: center;
}
.text-center{
  text-align: center;
}