html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
  font-size: 42px;
}
.subtitle {
  font-weight: 300;
  font-size: 22px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
/* Icons */
.icon{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.icon.icon-user{
  background-image: url(../images/user.png)
}
.icon.icon-facebook{
  background-image: url(../images/facebook.png)
}
.icon.icon-twitter{
  background-image: url(../images/twitter.png)
}
.icon.icon-instagram{
  background-image: url(../images/instagram.png)
}
.icon.icon-youtube{
  background-image: url(../images/youtube.png)
}
/* Flex Item */
.flex-item {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-item-main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
}
.flex-item-side {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* Layout */
.header{
  padding: 1em 2em;
  min-height: 84px;
  margin: 0 auto;
  max-width: 1440px;
}
.header .logo{
  width: 120px;
  cursor: pointer;
}
.header .btn{
  padding: 10px 12px;
  font-weight: 500;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(202, 202, 202); 
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.6);
}

.footer-cta{
  background-color: #a5d207;
  padding: 1em;
  color: #333;
}
.footer-menu{
  background-color: #415400;
  color: #ffffff;
  padding: 1em;
  min-height: 300px;
}
.cursor-pointer{
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .header{
    padding: .3em .6em;
    height: 70px;
    min-height: 70px;
  }
  .scroll-area{
    height: calc(100vh - 70px);
  }
}
.bg-image{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.shadow-1{
  box-shadow: 3px 3px 6px rgba(0,0,0,.05)
}