<template lang="pug">
.product-page.bg-grey-1
  .container.bg-white.round-borders.shadow-1
    .row
      .col-4
        .product-image
          img(:src="product.image" :class="'zoom-' + zoom" @click="zoom < 4 ? zoom++ : zoom = 0")
          .zoom-label(v-if="zoom > 0" @click="zoom = 0") {{(zoom * .2) + 1}}
      .col-8.px-md
        h1.title {{product.title}}
        h2.subtitle Vendido por
          span.text-blue.cursor-pointer(
            @click="$router.push('/stores/' + product.store._id)") {{' ' + (product.store ? product.store.name : '')}}
        .py-md
          h1.title R$ {{product.price}}
        .py-md
          btn.go-to-shop-btn(:to="product.link" label="IR PARA LOJA" color="green")
</template>

<script>
import { mapGetters } from 'vuex'
import { NAMESPACE, ISLOADING, PRODUCT, GET_PRODUCT } from '../../store/modules/products'
export default {
  name: 'ProductPage',
  components: {
  },
  data () {
    return {
      productId: this.$route.params.id,
      zoom: 0
    }
  },
  computed: {
    ...mapGetters(NAMESPACE, { product: PRODUCT, isLoading: ISLOADING })
  },
  async created () {
    await this.$store.dispatch(`${NAMESPACE}/${GET_PRODUCT}`, { productId: this.productId })
  }
}
</script>

<style>
.product-page{
  padding: 2em;
}
.product-image{
  height: 400px;
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: zoom-in;
  border-radius: 6px;
}
@media only screen and (max-width: 600px){
  .product-image{
    height: 260px;
  }
  .product-page{
    padding: 0;
  }
  .product-page .container{
    border-radius: 0;
  }
  .go-to-shop-btn{
    width: 100%;
  }
  .title{
    margin-top: 1em;
    font-size: 32px;
  }
}
.product-image img{
  width: 100%;
  background-color: #dedede;
  position: absolute;
  flex: 1;
  align-self: center;
  transition: all 300ms ease;
}
.product-image img.zoom-0{
  width: 100%;
}
.product-image img.zoom-1{
  width: 120%;
}
.product-image img.zoom-2{
  width: 140%;
}
.product-image img.zoom-3{
  width: 160%;
}
.product-image img.zoom-4{
  width: 180%;
}
.zoom-label{
  color: #333;
  z-index: 1;
  padding: 6px 12px;
  background-color: #dedede;
  height: fit-content;
  border-radius: 0 6px 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}
</style>
