<template lang="pug">
  .container
    .flex-item
      .flex-item-main
        h2 Todos os Produtos
      .flex-item-side.hidden-sm
        btn(
          @click="sort = '_created'"
          :flat="sort !== '_created'"
          :color="sort === '_created' ? 'grey' : null"
          label="Mais recentes")
        btn(
          @click="sort = 'price'"
          :flat="sort !== 'price'"
          :color="sort === 'price' ? 'grey' : null"
          label="Menor preço")
    .relative-position
      .row.full-width(v-if="!isLoading")
        .col-3.px-md.py-xs(
            v-for="(product, pr) in products"
            :key="pr")
          product-card(
            :product="product")
      spinner(v-if="isLoading")
</template>

<script>
import { mapGetters } from 'vuex'
import ProductCard from '../../components/ProductCard'
import { NAMESPACE, ISLOADING, PRODUCTS, GET_PRODUCTS } from '../../store/modules/products'
export default {
  name: 'IndexPage',
  components: {
    ProductCard
  },
  data () {
    return {
      sort: '_created'
    }
  },
  computed: {
    ...mapGetters(NAMESPACE, { products: PRODUCTS, isLoading: ISLOADING })
  },
  watch: {
    sort () {
      this.getProducts()
    }
  },
  created () {
    this.getProducts()
  },
  methods: {
    getProducts () {
      this.$store.dispatch(`${NAMESPACE}/${GET_PRODUCTS}`, {
        sortBy: this.sort
      })
    }
  }
}
</script>

<style>
</style>
