<template lang="pug">
  div
    .header.flex-item
      .flex-item-main
        img.logo(src="@/assets/images/logo.png" @click="$router.push('/')")
      .flex-item-side.hidden-sm
        btn(flat label="Entrar" icon="user")
        span |
        btn(flat label="Criar conta")
      .flex-item-side.visible-md
        btn(flat round icon="user")
    .scroll-area
      nuxt
      footer-layout
</template>
<script>
import FooterLayout from '../components/layout/FooterLayout.vue'
export default {
  name: 'LayoutDefault',
  components: {
    FooterLayout
  }
}
</script>
<style>
@media only screen and (max-width: 600px){
  .header > .flex-item-main{
    text-align: center;
  }
  .logo{
    margin-right: -58px;
  }
  .header {
    box-shadow: 3px 6px 10px rgba(0,0,0,.2);
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }
}
</style>
