<template lang="pug">
  .index
    hero-section
    differentials-section
    video-section
    brands-section
    app-section
    products-section
</template>

<script>
import HeroSection from '../components/hotpage/HeroSection'
import ProductsSection from '../components/hotpage/ProductsSection'
import DifferentialsSection from '../components/hotpage/DifferentialsSection'
import VideoSection from '../components/hotpage/VideoSection'
import BrandsSection from '../components/hotpage/BrandsSection'
import AppSection from '../components/hotpage/AppSection'
export default {
  name: 'IndexPage',
  components: {
    HeroSection,
    ProductsSection,
    DifferentialsSection,
    VideoSection,
    BrandsSection,
    AppSection
  }
}
</script>
<style>
</style>
