<template lang="pug">
  .container
    .flex-item
      .flex-item-side
        img.cursor-pointer(:src="store.logo" @click="$router.push(store.link)" width="200px")
    .row.py-lg
      h3 Produtos desta loja
    .row.full-width.relative-position(v-if="!isLoading")
      .col-3.px-md.py-xs(
          v-for="(product, pr) in store.products"
          :key="pr")
        product-card(
          :product="product")
</template>

<script>
import { mapGetters } from 'vuex'
import { NAMESPACE, ISLOADING, STORE, GET_STORE } from '../../store/modules/stores'
import ProductCard from '../../components/ProductCard'
export default {
  name: 'StorePage',
  components: {
    ProductCard
  },
  data () {
    return {
      storeId: this.$route.params.id,
      zoom: 0
    }
  },
  computed: {
    ...mapGetters(NAMESPACE, { store: STORE, isLoading: ISLOADING })
  },
  async created () {
    await this.$store.dispatch(`${NAMESPACE}/${GET_STORE}`, { storeId: this.storeId })
  }
}
</script>

<style>
</style>
