<template lang="pug">
  .container
    h2 Todas as Lojas
    .relative-position
      .row.full-width(v-if="!isLoading")
        .col-3.px-md.py-xs(
            v-for="(store, st) in stores"
            :key="st")
          store-card(
            :store="store")
      spinner(v-if="isLoading")
</template>

<script>
import { mapGetters } from 'vuex'
import { NAMESPACE, ISLOADING, STORES, GET_STORES } from '../../store/modules/stores'
import StoreCard from '../../components/StoreCard'
export default {
  name: 'StorePage',
  components: {
    StoreCard
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(NAMESPACE, { stores: STORES, isLoading: ISLOADING })
  },
  created () {
    this.$store.dispatch(`${NAMESPACE}/${GET_STORES}`, {})
  }
}
</script>

<style>
</style>
